


.modal-title{
    font-weight: bold;
}
.yun-modal-conten{
    margin-left: -100px;
    width: 800px;
    height: 660px;
}
.yun-modal-body{
    width:500px;
}
.yun-modal-img{
    width: 770px;
    background-color:#F2F2F2 ;
    border-top: 2px solid #888;
}
.yun-modal-body img{
    padding-left: 70px;

}
.yun-modal-body-label{
    padding-top: 20px;
}
.yun-btn-group{
    padding-top: 20px;
}
.yun-modal-body-label input{
    width: 300px;
}
.cloud-bg{
    border-bottom: 1px solid #e8e8e8;
}
.yun-btn-group1{
    width: 370px;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
}
.yun-cars{
    float: right;
}
.yun-cloud-bg{
    padding-left: 50px;
}
.yun-btn-gr{
    padding-left: 20px;
    height: 160px;
}
.yun-btn-gr input{
    padding-left: 60px;
}
.yun-btn-label1{
    position: absolute;
    line-height: 40px;

}
.yun-btn-label{
    position: relative;
    left: 50px;
    line-height: 45px;
}

.yun-btn-label .yun-btn-label-text{
    width: 15px;
    line-height: 20px;
    background-color: #e8e8e8;
}
.modal-body2{
    position: relative;
    bottom: 400px;
    float: right;
    width: 240px;
    background-color: #CFEAF8;
}
.yun-modal-p{
    height: 40px;
}
.p1{
    padding-left: 46px;
}
.p2{
    padding-left: 20px;
}
.p2 .b{
    font-size: 2em;
}
.yun-btn-group-btn{
    padding-left: 47px;
    padding-top: 30px;

}
.yun-btn-group-btn-btn{
    position: relative;
    left: 80px;
    top: -25px;
}
.modal-body2 .modal-p{
    border-bottom: 1px solid #888;
}
.modal-p b{
    font-size:15px;
    color: #0065ae;
}
.modal-p1 b {
    font-size: 15px;
    color: #0065ae;
}
.yun-modal-footer{
    position: relative;

}
.yun-modal-footer button{

}
